<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            text-align: center;
        }

        a {
            text-decoration: none;
            font-size: 25px;
            color: black;
        }

        li {
            list-style: none;
            text-align: center;
            padding-top: 20px;
        }

        ul {
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <h1>Bruno Pereira de Souza</h1>
    <hr>
    <ul>
        <li><a href="lista_locacoes.html">Lista de Locações</a></li>
        <li><a href="lista_filmes.html">Lista de Filmes</a></li>
    </ul>
</body>
</html>