<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
        li{
            list-style: none;
            text-align: center;
        }
        ul{
            padding: 0;
        }
    </style>
</head>
<body>
    <h1>Lista de Locações:</h1> <hr>
    <br>
    <ul>
        {% for locacao in locacoes %}
        <li><strong>Nome:</strong> {{locacao.nome}}</li>
        <li><strong>Data:</strong> {{locacao.data}}</li>
        <li><strong>Cliente:</strong> {{locacao.cliente}}</li>
    </ul>
    <br>
    {% endfor %}
</body>
</html>